<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org.allseen.alljoyn.tests"
    version="0.0.2">
    <name>AllJoyn Tests</name>

    <js-module src="tests.js" name="tests" />

    <js-module src="auto/registration.js" name="auto-registration" />
    <js-module src="auto/connection.js" name="auto-connection" />
    <js-module src="auto/methods.js" name="auto-methods" />

    <js-module src="manual/connection-errors.js" name="manual-connection-errors" />
</plugin>
